@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap');

* {
  /* margin: 0; */
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 90%;
  margin: 0;
  display: grid;
  place-content: center;
  color: #4d4f62;
  padding: 32px;
}

.container {
  display: grid;
  place-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.header {
  margin-top: 53px;
  font-weight: 200;
  font-size: 24px;
  margin-bottom: 0;
}

.sub-header {
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
}

.description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  line-height: 25px;
  text-align: center;
}

.card-container {
  margin-top: 76px;
  display: grid;
  place-content: center;
}

.card {
  height: 222px;
  width: 311px;
  border-radius: 8px;
  box-shadow: 0 15px 30px -11px #83a6d2;
  padding: 32px;
  margin-bottom: 25px;
  position: relative;
}

.card:first-of-type {
  border-top: 5px solid #44d3d2;
}

.card:nth-of-type(2) {
  border-top: 5px solid #ea5454;
}

.card:nth-of-type(3) {
  border-top: 5px solid #fcae4a;
}

.card:last-of-type {
  border-top: 5px solid #549ef2;
}

.card-description {
  font-size: 13px;
  opacity: 0.5;
  line-height: 23px;
}

.card-image {
  position: absolute;
  bottom: 28px;
  right: 28px;
}

@media (min-width: 600px) {
  body {
    width: 100vw;
  }
  .container {
    width: 100px;
  }
  .header,
  .sub-header {
    font-size: 36px;
  }

  .card-container {
    height: 800px;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      '. . a a . .'
      'b b . . c c'
      '. . d d . .';
  }

  .card {
    width: 100%;
  }

  .card:first-of-type {
    grid-area: a;
  }

  .card:nth-of-type(2) {
    grid-area: b;
  }

  .card:nth-of-type(3) {
    grid-area: c;
  }

  .card:last-of-type {
    grid-area: d;
  }
}
